@page
@model IndexModel

@{
    ViewData["Title"] = "Villa Monte Kariotes";

    var galleries = ViewData["Galleries"] as List<Gallery>;
    var testimonials = ViewData["Testimonials"] as List<Testimonal>;
}


<!-- ======= About Section ======= -->
<section id="about" class="about content section-bg">

    <div class="container">

        <div class="row">
            <div class="col-12 content">
                <div class="section-title">
                    <h2>About</h2>
                    <h3>Villa Monte Kariotes</h3>
                    <p>
                        Located in the northern part of the beautiful Greek island of Samothrace, this recently renovated holiday home is now available for rent.
                        Up to eight people can enjoy this lovely place.
                    </p>
                    <p>
                        The house is divided into two parts: the ground floor has a large living area with huge balcony windows for a great view to the garden, a newly installed kitchen with a large refrigerator, oven, stovetop, and all the utilities to prepare your favorite meals or snacks. Furthermore, there are two cosy bedrooms, both equipped with king size beds. It has a separate bathroom with toilet, a large walk-in shower, built with tiny stones found around the island.  The main terrace has a typical Greek wood oven, available for a barbecue or pizza evening.
                    <p>
                        On the first floor, under the roof and reachable from the outside, there is a small loft for up to two to four people. It has a sleeping area with the same king size bed found downstairs, and a sitting area with a sofa bed.  The bathroom has a large bathtub and a toilet.  Top notch is the terrace with an almost 180 degrees view of the blue Aegean Sea in the front, and in the back the impressive Fengari Mountain.
                    </p>
                    <p>
                        The large green garden with fruit and olive trees has a private swimming pool to cool down on hot days. This setting is said to be unique in Samothrace and both garden and pool will be maintained on a regular base during your stay.
                    </p>
                    <p>
                        Villa Monte Kariotes is available for rent now!
                    </p>
                    <p>
                        Please <a href="#reservations" title="Make your reservation">contact</a> your hosts Christine or Barbara for pricing and availability or any other request you have. They will be happy to assist you.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Samothrace</h3>
                <p class="fst-italic">
                    Samothrace is a Greek island located in the northern Aegean Sea. Here are some basic statistics about it.
                </p>
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Location:</strong><br />
                                <p>Samothrace is situated in the northeastern part of the Aegean Sea, closer to the coast of Turkey than mainland Greece. It's part of the East Macedonia and Thrace region of Greece.</p>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Size:</strong><br />
                                <p>The island has an area of about 178 square kilometers (69 square miles), making it the 13th largest island in Greece. Samothrace is 17 kilometers long (10,5 miles).</p>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Population:</strong><br />
                                <p>Samothrace has a population of around 2.800 people. </p>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Capital:</strong> <br />
                                <p>The main town and capital of Samothrace is called Chora (or Samothrace Town). It's located on the western middle part of the island.</p>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Geography:</strong> <br />
                                <p>Samothrace is known for its rugged terrain and mountainous landscape. The highest peak on the island is Mount Fengari, which rises to an elevation of 1,611 meters (5,285 feet).</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->


<!-- ======= Accomodations Section ======= -->
<section id="accomodations" class="accomodations">
    <div class="container">

        <div class="section-title">
            <h2>Accomodations</h2>
            <p>
                Please find below a list of accomodations that might help you choose 
                for Villa Monte Kariotes as your next vacation home.
            </p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                <div class="accomodation-box">
                    <i class="bx bx-wifi"></i>
                    <p>Free <strong>wifi</strong> is available.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="accomodation-box">
                    <i class="bx bxs-dog"></i>
                    <p>Your <strong>furry friends</strong> are more than welcome. Your goldfish too.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="accomodation-box">
                    <i class="bx bxs-sushi"></i>
                    <p><strong>Two bathrooms</strong>, one on each floor.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-shower"></i>
                    <p>A <strong>walk-in shower</strong>.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-bath"></i>
                    <p>A <strong>hot tub</strong> on the first floor.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-hot"></i>
                    <p>A built-in <strong>barbequeue</strong> is available on the main terrace.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bx-swim"></i>
                    <p>Your <strong>private swimmig pool</strong>, available in high season.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-tv"></i>
                    <p>A <strong>smart tv</strong>. On rainy days?</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-bowl-hot"></i>
                    <p>A modern, fully equipped <strong>kitchen</strong> with dishwasher.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-bed"></i>
                    <p>Three <strong>king-size beds</strong> and one sofa bed. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-car"></i>
                    <p>There is a <strong>parking spot</strong> on the property.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="accomodation-box">
                    <i class="bx bxs-sun"></i>
                    <p><strong>Central heating</strong> for chillier days.</p>
                </div>
            </div>
        </div>


    </div>

</section><!-- End Accomodations Section -->


<!-- ======= Reservations Section ======= -->
<section id="reservations" class="reservations">
    <div class="container" data-aos="zoom-in">
        <div class="text-center">
            <h2>Make your reservation now!</h2>
            <p>Villa Monte Kariotes is popular. Make your reservation by calling or chatting to your hosts Christine or Barbara. 
                They will be happy to assist you.</p>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-end">
                    <a class="btn reservations-btn align-items-center">
                        <span class="ms-2 rounded-5 d-flex align-items-start justify-content-center">
                            <i class="bx bxl-whatsapp"></i>
                            <span class="name">Christine</span>
                        </span>
                        <span class="phone">+30 697 6419329</span>
                    </a>
                </div>
                <div class="col-6 text-start">
                    <a class="btn reservations-btn align-items-center">
                        <span class="ms-2 rounded-5 d-flex align-items-start justify-content-center">
                            <i class="bx bxl-whatsapp"></i>
                            <span class="name">Barbara</span>
                        </span>
                        <span class="phone">+30 697 7220523</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Cta Section -->


<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Gallery</h2>
            <p>A picture is worth a thousand words. Explore the property's interior and exteriour and get a first impression
                of the beautiful iceland of Samothrace.
            </p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="gallery-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    @foreach (var gallery in galleries ?? [])
                    {
                        <li data-filter=".filter-@gallery.DataFilterName">@gallery.Name</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row gallery-container" data-aos="fade-up" data-aos-delay="100">

            @foreach (var gallery in galleries ?? [])
            {
                foreach(var photo in gallery.Photos ?? [])
                {
                    if (photo.IsInvisible)
                    {
                        continue;
                    }
                    
                    <div class="col-lg-4 col-md-6 gallery-item filter-@gallery.DataFilterName">
                        <div class="gallery-wrap">
                            <img src="img/gallery/@photo.FileNameSquare" class="img-fluid" alt="">
                            <div class="gallery-links">
                                <a href="img/gallery/@photo.FileName" data-gallery="galleryGallery" class="gallery-lightbox" title="@photo.Description (#@photo.Id)"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                }
            }
            

    </div>

</section><!-- End Gallery Section -->


<!-- ======= Your Stay Section ======= -->
<section id="your-stay" class="your-stay">
    <div class="container">

        <div class="section-title">
            <h2>Your stay</h2>
            <p>We strive to ensure your stay is truly unforgettable. While we trust you'll treat our property with the same care as your own, we'd like to highlight a few guidelines: </p>
            <p></p>
        </div>

        <div class="row">
            <div class="col-lg-6 mb-4" data-aos="fade-up">
                <h3 class="your-stay-title">Do's</h3>
                <ul>
                    <li>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>
                            For the safety of your children, we kindly ask that you supervise them closely near the swimming pool. We cannot be held responsible for any accidents that may occur.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>
                            Respect the tranquility of our neighbors by keeping noise levels down, especially during late hours.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>
                            Conserve energy by turning off lights and appliances when not in use.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>
                            Make use of the provided amenities responsibly and report any damages or malfunctions promptly.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-up"></i>
                        <p>
                            Relax, unwind, and savor your time at Villa Monte Kariotes.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="your-stay-title">Dont's</h3>
                <ul>
                    <li>
                        <i class="bi bi-hand-thumbs-down"></i>
                        <p>
                            Smoking indoors is not permitted.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-down"></i>
                        <p>
                            Dispose of cigarette butts responsibly; please avoid littering the garden.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-down"></i>
                        <p>
                            Do not tamper with the cleaning and filtering system of the swimming pool; it's maintained regularly.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-down"></i>
                        <p>
                            Pets are not allowed on the beds.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-down"></i>
                        <p>
                            Please refrain from rearranging furniture or decorations without prior approval.
                        </p>
                    </li>
                    <li>
                        <i class="bi bi-hand-thumbs-down"></i>
                        <p>
                            Keep the property secure by locking doors and windows when leaving.
                        </p>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</section><!-- End Your Stay Section -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Discover why guests love staying with us! With a stellar rating of 4.9 on Booking.com, we're proud to offer an exceptional vacation experience. But don't just take our word for it—read what our guests have to say. Here are a few snippets from our glowing reviews:</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach (var testimonial in testimonials ?? [])
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @testimonial.Content
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <h3>@testimonial.Name (@testimonial.CountryOfOrigin)</h3>
                            <h4>@testimonial.DateWritten.Year</h4>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- End Testimonials Section -->


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Kariotes 75, 68002 Samothrace, Greece</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e28b8c848da2879a838f928e87cc818d8f">[email&#160;protected]</a></p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->